div {

width: 400px;
height: 200px;
background-color:#eee;
margin: 20px auto;
position: relative;
padding: 10px;
}
div:before {
content: '';
position: absolute;
top: -5px;
left: 0;
width: 100%;
background-color: red;
height: 5px;
background-image: linear-gradient(
to right,
 #297fb9b2 20%,
 #27ae60 20%,
 #27ae60 40%,
 #d35400 40%,
 #d35400 60%,
 #be44ad 60%,
 #be44ad 80%,
 #c0392b 80%,
 #2b2dc0 90%);


}